<div class="fifth-step step">
	<p>
	<h3>Attendees</h3>
	</p>
	<div class="tags">
		<div class="tag"
			title="<b>Last 3 games:</b><br>UEFA Champions League: 3rd<br>UEFA European Cup: 1st<br> Premier League: 4th">
			Person 1 <font>|X</font>
		</div>
		<div class="tag">
			Person 2 <font>|X</font>
		</div>
		<div class="tag">
			Person 3 <font>|X</font>
		</div>
		<div class="tag">
			Person 4 <font>|X</font>
		</div>
	</div>
	New: <input type="text"><br>
	<button>Add Attendee</button>
	<div class="button-box">
		<input type="submit" value="Submit" />
	</div>
</div>