<div class="second-step step" ng-controller="groupsController">
	<div class="team-selection">
		<p>
		<h3>Groups&amp;Teams</h3>
		</p>
		<div class="group-display">
			<div class="group" ng-repeat="group in groups">
				<p class="group-name">{{ group.name }}</p>
					<p class="team-name" ng-repeat="team in group.teams">{{ $index + 1 }}. {{ team.name }} </p>
					<p ngShow="group.teams.length<structure.teamNo/groups.length">{{group.teams.length + 1}}. <input ng-model="group.team[group.teams.length]" type="text">
			</div>
		</div>
	</div>
	<div class="button-box">
		<button ng-click="$emit('groups-submit', []);">Next</button>
	</div>
</div>