<div class="second-step step">
	<div class="team-selection">
		<p>
		<h3>Groups&Teams</h3>
		</p>
		<div class="group-display">
			<div class="group">
				<p class="group-name">Group A</p>
				<p class="team-name">1. Spain</p>
				<p class="team-name">2. Argentina</p>
				<p class="team-name">
					3. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group B</p>
				<p class="team-name">1. Brasil</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group C</p>
				<p class="team-name">1. Germany</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group D</p>
				<p class="team-name">1. Chile</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group E</p>
				<p class="team-name">1. Peru</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group F</p>
				<p class="team-name">1. Italy</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group G</p>
				<p class="team-name">1. Greece</p>
				<p class="team-name">
					2. <input type="text">
				</p>
			</div>
			<div class="group">
				<p class="group-name">Group H</p>
				<p class="team-name">1. Australia</p>
				<p class="team-name">2. Portugal</p>
				<p class="team-name">3. Netherlands</p>
				<p class="team-name">
					4. <input type="text">
				</p>
			</div>
		</div>
	</div>
	<div class="button-box">
		<button ng-click="$emit('groups-submit', []);">Next</button>
	</div>
</div>