<div class="dashboard"
	ng-controller="DashboardController">
	<div class="dashboard-header">
		<h2>{{ headerText }}</h2>
	</div>
	<div class="dashboard-content">
		<div class="dashboard-item grey-box">
			<p class="item-header">Create new game
			<p>
		</div>
		<div class="dashboard-item grey-box" ng-repeat="item in tickets">
			<h3>{{item.name}}</h3>
			<div class="match-details">
				<p>{{ item.match.homeTeam + '-' + item.match.guestTeam }}</p>
				<p>{{ item.match.homeScore + '-' + item.match.guestScore }}</p>
			</div>
			<div class="tip-details">
				<p>Last update: {{ item.tip.date }}</p>
				<p>{{ 'Your tip: ' + item.tip.home +'-'+item.tip.guest }}</p>
				<p>{{ 'Earned points:' + item.tip.score +'Pts' }}</p>
			</div>
			<a ng-click="openGamePortal(item.id);" class="button">Details...</a>
		</div>
	</div>
</div>
