<div class="tips-to-go">
	<p>
	<h3>Tips to go</h3>
	</p>
	<form class="tip-form">
		<p>
			<font class="fixture-date">06/13/14</font> <font
				class="deadline-date">(Deadline: 04/12/14)</font> Chile <input
				type="number" min="0" max="100"> - <input type="number"
				min="0" max="100"> Spain
			<button onclick="window.alert('Are you sure you want to send?')">Send</button>
		</p>
		<p>
			<font class="fixture-date">06/13/14</font> <font
				class="deadline-date">(Deadline: 04/12/14)</font> USA <input
				type="number" min="0" max="100"> - <input type="number"
				min="0" max="100"> Australia
			<button onclick="window.alert('Are you sure you want to send?')">Send</button>
		</p>
		<p>
			<font class="fixture-date">06/14/14</font> <font
				class="deadline-date">(Deadline: 04/12/14)</font> Burkina Faso <input
				type="number" min="0" max="100"> - <input type="number"
				min="0" max="100"> Feroer-Islands
			<button onclick="window.alert('Are you sure you want to send?')">Send</button>
		</p>
		<p>
			<font class="fixture-date">06/14/14</font> <font
				class="deadline-date">(Deadline: 04/12/14)</font> Peru <input
				type="number" min="0" max="100"> - <input type="number"
				min="0" max="100"> Austria
			<button onclick="window.alert('Are you sure you want to send?')">Send</button>
		</p>
		<input type="submit" value="Send tips" />
	</form>
</div>