<div class="tips-to-go">
	<p>
	<h3>Tips to go</h3>
	</p>
	<form class="tip-form">
		<p ng-repeat="tip in gameObject.tipsToGo">
			<font class="date">{{ tip.date }}</font> <font
				class="deadline-date">(Deadline: {{ tip.deadline }})</font> {{ tip.home }}<input
				type="number" min="0" max="100"> - <input type="number"
				min="0" max="100"> {{ tip.guest }}
			<button onclick="window.alert('Are you sure you want to send?')">Send</button>
		</p>
		<input type="submit" value="Send tips" />
	</form>
</div>