body {
	margin: 0px;
	font-family: SimSun-ExtB;
}

/* header {
	width: 100%;
	padding-right: 10px;
	display: inline-block;
	text-align: center;
	border-bottom: black solid 1px;
} */

.menu {
	float: right;
	margin-top: 45px
}

.menu ul{
	list-style-type: none;
}

.menu ul li{
	display : inline;
	float: left;
	padding: 0px 5px;
}

.menu ul li a{
	float:left;
	display : inline-block;
}

.content {
	padding: 0px;
	margin: 0px;
}

.dashboard-content {
	overflow: auto;
	width: auto;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
}

.dashboard {
	padding: 10px;
}

.dashboard-item div{
	margin-top : 10px;
}

.item-header {
	font-size: 25px;
	margin: 0px;
}

.tip-details {
	float: left;
}

.match-details {
	font-size: 23px;
	text-align: center;
	float: right;
}

notification-bar {
	float: right;
	margin-left: 15px;
}