body{
	margin: 0px;
	font-family: SimSun-ExtB;
}

form{
	width:400px;
}
.header{
	width:100%;
	padding-right: 10px;
	display:inline-block;
	text-align:center;
	border-bottom: black solid 1px;
}

.form-container{
	width:400px;
	margin-left: auto;
	margin-right: auto;
}

.date-of-birth{
	text-align: left;
	padding-left: 30px;
}
.date-inputs{
	text-align:right;
}

input[type="image"]{
	float: left;
	width:100px;
	height:100px;
	margin-right: 10px;
}
.button-box{
	width:100%;
	text-align:center;
}

.avatar{
	float:left;
	width: 120px;
	text-align: left;
	font-size: 12px;
}