<div class="notification">
	<ul class="notification-list">
		<li class="notification-item invitation">
			<div>
				04/13/14<br>Fifa 14 World Cup<br>
				<br>New game invitation from Makiverem13
			</div>
		</li>
		<li class="notification-item update">
			<div>
				04/13/14<br>Water Polo 14 World Cup<br>
				<br>New match update from MisuMester
			</div>
		</li>
		<li class="notification-item update">
			<div>
				04/13/14<br>Water Polo 14 World Cup<br>
				<br>New match update from MisuMester
			</div>
		</li>
	</ul>
</div>