body{
	margin: 0px;
	font-family: SimSun-ExtB;
}

.header{
	width:100%;
	padding-right: 10px;
	display:inline-block;
	text-align:center;
	border-bottom: black solid 1px;
}

.menu{
	float:right;
	margin-bottom: 10px;
}

.content{
	padding:0px;
	margin: 0px;
}
.portal-content{
	overflow: auto;
	width:auto;
	height:100%;
	overflow-y:visible;
	display: table;
    border-collapse:collapse;
}

.first-row{
	display: table-row;
	border-bottom: grey double 1px;
}

.game-portal{
	padding: 10px;
}

.notification{
	float:right;
	width:250px;
	height:100%;
	border-left: grey solid 1px;
	border-bottom: grey solid 1px;
}

.notification-list{
	margin-top: 0px;
	padding: 0px;
	width:100%;
	list-style-type: none;
}

.notification-item{
	border: grey solid 1px;
}

input[type="number"]{
	width: 40px;
}

.deadline-date{
	color: red;
}
.fixture-date{
	font-style:italic;
}

.tips-to-go{
	width: 50%;
	margin:0px;
	display: table-cell;
}

.game-standings{
	text-align: right;
	display: table-cell;
	width: 45%;
	margin-right:5%;
}

table, thead, tbody, td, th{
	border: black solid 1px;
}

th, td{
	padding: 5px;
}

.game-table{
	float:right;
}

thead tr{
	background: rgba(170,170,170,0.6);
}

.tournament-standings{
	display: table-row;
	width:100%;
}

.tournament-standings h3{
	margin-top: 10px;
}