body{
	margin: 0px;
	font-family: SimSun-ExtB;
}

.header{
	width:100%;
	padding-right: 10px;
	display:inline-block;
	text-align:center;
	border-bottom: black solid 1px;
}

.menu{
	float:right;
	margin-bottom: 10px;
}

.content{
	padding:0px;
	margin: 0px;
}
.dashboard-content{
	overflow: auto;
	width:auto;
	height:100%;
	display: flex;
	flex-wrap:wrap;
	overflow-y:visible;
}

.dashboard{
	padding: 10px;
}
.dashboard-item{
	margin: 10px;
	width:450px;
	height: 160px;
	border: grey solid 1px;
	border-radius: 10px;
	padding: 10px;
	padding-top:20px;
	margin-right:30px;
	cursor: pointer;
}

.item-header{
	font-size: 25px;
	margin: 0px;
}

.tip-details{
	float: left;
}
.match-details{
	font-size: 23px;
	text-align: center;
	float:right;
}

.notification{
	float:right;
	width:250px;
	height:100%;
	border-left: grey solid 1px;
	border-bottom: grey solid 1px;
}

.notification-list{
	margin-top: 0px;
	padding: 0px;
	width:100%;
	list-style-type: none;
}

.notification-item{
	border: grey solid 1px;
}